name: CI CD UltramanORB

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Docker Image
      run: docker build -t ultramanorb .

    - name: Run Container (test)
      run: |
        docker run -d -p 8080:80 ultramanorb
